/* about page styles */

#js-scroll {
    height: 200%;
}

/* project section */

.project__container {
    min-height: calc(100vh - 5rem);
    width: 70%;
    margin: 20px auto;
    color: #fff;
    padding: 0 20px;
    text-align: center;
}

.project__container-images {
    position: relative;
    width: 100%;
    height: auto;
}

.project__image {
    background: red;
    width: 400px;
    height: 300px;
    margin: 50px auto;
}

.project__image-one {
    position: relative;
    height: 400px;
    width: 300px;
    top: 100px;
    right: -500px;
    background: url(../img/BB-03.png) no-repeat 50% 50%;
    background-size: cover;
}

.project__image-two {
    position: relative;
    top: -370px;
    left: -600px;
    background: url(../img/nkd01-small.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project__image-three {
    position: relative;
    top: -500px;
    left: -400px;
    background: url(../img/taboo-1-small.png) no-repeat 50% 50%;
    background-size: cover;
    z-index: -1;
}

.project__image-four {
    position: relative;
    top: -900px;
    right: -400px;
    background: url(../img/tiago01.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.anime-js-title .letter {
    display: inline-block;
    line-height: 1em;
}

@media screen and (max-width: 577px){

    .wrapper{
        height: 800px;
        overflow: hidden;
    }

    .project__container {
        height: 800px;
        width: 80%;
        margin-top: 30vw;
    }

    .project__container-images {
        height: 800px;
        width: 100%;
        margin: 0 auto;
    }

    .project__image-one {
        position: relative;
        height: 100px;
        width: 50px;
        top: -50px;
        right: -90px;
        opacity: 70%;
    }
    
    .project__image-two {
        position: relative;
        top: -360px;
        left: -80px;
        opacity: 70%;
    }
    
    .project__image-three {
        position: relative;
        top: -600px;
        left: -120px;
        opacity: 70%;
    }
    
    .project__image-four {
        position: relative;
        top: -960px;
        right: -90px;
        opacity: 70%;
    }

    .project__image {
        width: 150px;
        height: 150px;
    }

    .criadores-container .bonnie{
        margin-top: 10vw;
    }
    
    .criadores-container .bonnie, .criadores-container .naked-soul, .criadores-container .taboo, .criadores-container .tiago{
        font-size: 6vw;
        line-height: 40vw;
    }
    
}